

  tr td:last-child{
    width:1%;
    white-space:nowrap;
  }

  table.t1 {
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
  }
  .t1 th, .t1 td {
    padding: 10px 50px;
    width: auto;
  }
  .t1 thead th {
    background: #4f81bd;
    text-transform: lowercase;
    text-align: center;
    font-size: 15px;
    color: #fff;
    border-left: 1px solid #95b3d7;
  }
  .t1 tr {
    border-right: 1px solid #95b3d7;
    white-space:nowrap;
  }
  .t1 tbody tr {
    border-bottom: 1px solid #95b3d7;
  }
  .t1 tbody tr:nth-child(odd) {
    background: #dbe5f0;
    text-align: center;
  }
  .t1 tbody th, .t1 tbody tr:nth-child(even) td {
    border-right: 1px solid #95b3d7;
    text-align: center;
  }
  .t1 tfoot th {
    background: #4f81bd;
    text-align: left;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
  }
  .t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
    text-align: center;
    border-left: 1px solid #95b3d7;
  }
